@import 'tailwindcss';
@import './theme.css';
@import "tw-animate-css";


@layer base {
  * {
    @apply border-border;
  }
  html {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
  body {
    @apply text-foreground select-none;
  }
  input,
  textarea,
  [contenteditable='true'],
  [contenteditable=''] {
    @apply select-text;
  }
  input::placeholder,
  textarea::placeholder {
    opacity: 0.4;
  }
}
